.companies {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.logos {
  filter: grayscale(100%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: center; 
}

.logos img {
  width: 100%;       
  height: auto;      
  max-width: 300px;  
  display: block;
  margin: 0 auto;    
}
