.companies {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.logos {
  filter: grayscale(100%);
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 100px;
  align-items: center;
  justify-content: center;
    margin-top: 50px;
}

.logos img {
  height: auto;      
  max-width: 100px;  
  display: block;
  margin: 0 auto;    
}
