watch_file channels.scm manifest.scm

_root=".direnv/profile"
_cache=".direnv/guix-env.sh"

if [ ! -e "$_root" ] || [ channels.scm -nt "$_cache" ] || [ manifest.scm -nt "$_cache" ]; then
  mkdir -p .direnv
  guix time-machine -C channels.scm -- \
    shell -m manifest.scm --root="$_root" --search-paths > "$_cache"
fi
eval "$(cat "$_cache")"
