package pages

import "github.com/joshuablais/precipice/components/loginform"
import "github.com/joshuablais/precipice/internal/config"

templ LoginPage(cfg *config.Config) {
	@Layout("Login", cfg) {
		@form.LoginForm()
	}
}
