package info

type InfoProps struct {
	Subtext    string
	Headertext string
	Paragraph  string
}

templ Info(props InfoProps) {
	<h3 class="info-subtext">{ props.Subtext }</h3>
	<h1 class="info-header">{ props.Headertext }</h1>
	<p class="info-paragraph">{ props.Paragraph }</p>
}
